<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 
 author：胡志豪 李龙军 雷凡
 create: time: 2020-07-05
 update：time:  2020-07-18
 -->
<mapper namespace="com.ssm.mapper.ExpertMapper" >
	
	<select id="getExpertList" resultType="com.ssm.domain.Expert">
		select * from expert order by pageview desc limit 10
	</select>
	
	<select id="getExpertByName" parameterType="String" resultType="com.ssm.domain.Expert">
		select * from expert where name like CONCAT('%',#{name},'%')
	</select>
	
	<select id="getExpertBySchool" parameterType="String" resultType="com.ssm.domain.Expert">
		select * from expert where school like CONCAT('%',#{school},'%')
	</select>
	
	<select id="getExpertByMajor" parameterType="String" resultType="com.ssm.domain.Expert">
		select * from expert where major like CONCAT('%',#{major},'%')
	</select>
	
	<select id="getExpertBySubject" parameterType="String" resultType="com.ssm.domain.Expert">
		select * from expert where subject like CONCAT('%',#{subject},'%')
	</select>
	
	<select id="getExpertByPaper" parameterType="String" resultType="com.ssm.domain.Expert">
		select * from expert where paper like CONCAT('%',#{paper},'%')
	</select>
	
	<select id="getExpertByResearch" parameterType="String" resultType="com.ssm.domain.Expert">
		select * from expert where research_direction like CONCAT('%',#{research_direction},'%')
	</select>
	
	<select id="getExpertByIntroduction" parameterType="String" resultType="com.ssm.domain.Expert">
		select * from expert where introduction like CONCAT('%',#{introduction},'%')
	</select>
	
	<select id="getExpertById" parameterType="int" resultType="com.ssm.domain.Expert">
		select * from expert where id=#{id}
	</select>
	
	<select id="countnums" parameterType="int" resultType="com.ssm.domain.Countclass">
		select school as name,count(id) as num from expert group by school
	</select>
	
	<select id="getExpertPicByName" parameterType="String"
		resultType="String">select picurl from picinfo where name=#{name}
	</select>
	
	<select id="getExpertNameByTag" parameterType="String"
		resultType="String">select name from tag where tag like CONCAT('%',#{tag},'%')
	</select>

	<select id="getExpertTagByName" parameterType="String"
		resultType="String">select tag from tag where name=#{name}</select>
	<update id="addpageview" parameterType="int">update expert set pageview=pageview+1 where id=#{id}</update>
</mapper>
