@charset "UTF-8";
/**
* author：叶茂盛
* create: time: 2020-07-12
* update：time:  2020-07-12
*/
a:hover{
	text-decoration:none
}
.h-90{
	height:85;
}
.d-head{
	width:100%;
	text-align: center;
	height: 160;
	border-bottom-style:solid;
	border-color: #ddd;
	border-width:1px;
}
.box95{
	margin-top:5;
	width:95%;
	padding:0 ;
	min-width: 800px;
	display: inline-block
}
.logo{
	height:110;
	margin-left:40px;
	margin-top:10px;
}
.d-return{
	padding-top:40px
}
.b-return{
	text-decoration: none;
	margin-right: 15px;
	border-radius: 3px;
	padding: 0 30px;
	height: 30px;
	line-height: 30px;
	background:rgb(0,135,201);
    color: #fff!important;
    text-align: center;
    font-size: 14px;
    display: block;
}
.fl{
	float:left;
}
.img{
	height:100%;
}
.fr{
	float:right;
}
.f-head{
	font-size:30;
	margin-top:20;
}





.c-red{
	background-color:red
}
.m-180{
	margin-left:180px
}

.d-sty{
	background-color:#337ab7;
	height:50px;
	padding:15px 15px;
	border: 1px solid #ddd;
	border-radius:5px;
	color:#fff;
}
.div-style1{
	width:800px;
	height:170px;
	padding:5px;
	line-height:1.8;
	border:1px solid #ddd;
	background-color:rgb(250,250,250);
	border-radius:10px;
}
.div-style2{
	position:absolute;width:160px
}
.img-style1{
	border-radius:50%; width:120px;height: 120px;border:2px solid #ddd;
    position:absolute;left:20px; top:17px;
}
.img-style2{
	position:absolute;left:235px; top:22px;width:16px; height:16px
}
.a-style1{
	display:block;text-decoration:none;margin-top:16px;
}
.p-style1{
	                        margin-top:7px;
	                        display: -webkit-box;
                            overflow: hidden;
                            padding-right: 20px;
                            height: 40px;
                            line-height: 20px;
                            font-size: 14px;
                            color: #666;
                            text-overflow: ellipsis;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
}
.s-style1{
	color: #333;font-size: 18px;font-weight:400;
}
.s-style2{
	color: #666;font-size: 16px;margin-left:40px;
}
.h-sty{
	font-weight: 500;
	font-size: 15px;
	margin-top:0;
	margin-left:5px
}
.d-content{
	width:100%;
	text-align: center;
	magrin-top:20px;
}

.d-area{
	display: inline-block;
	width:97.5%;
	min-width:1150px;
}
.d-same{
	float:left;
	width:70%;
	min-width:800px;
}
.m-sty{
	margin-bottom:3px;
	margin-top:2px;
}
.border{
	border-style:solid;
	border-color: #ddd;
	border-width:1px;
}
.tag{
	margin-top:5px;
	margin-left:5px;
	float:left;
	font-size:100% !important;
}
.f-16{
	font-size:16px;
}
